.page-not-found {
    color: var(--primary-color);
    text-align: center;
}

.page-not-found h1 {
    font-size: 288px;
    margin: 0;
}

.page-not-found h2 {
    font-size: 36px;
    margin-bottom: 10rem;
    font-weight: 500;
}

.back-to-home {
    display: block;
    margin-bottom: 5rem;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    text-underline-position: under;
}

@media screen and (max-width: 768px) {
    .page-not-found h1 {
        font-size: 96px;
        margin: 5rem;
    }

    .page-not-found h2 {
        font-size: 18px;
        margin-bottom: 5rem;
    }

    .back-to-home {
        font-size: 14px;
    }
}